div {
    font-family: 'Open Sans', sans-serif;
}

section {
    width: 100%;
    display: flex;
}


.containerLandingPage .titleOne {
    display: flex;
    position: relative;
    width: 490px;
    height: 210px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 70px;
    color: #1F2A36;
    padding: 30px 20px;
    left: 75px;
    top: 50px;
    text-align: left;
}

.containerLandingPage .descriptionOne {
    display: flex;
    position: relative;
    width: 488px;
    height: 56px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #46505C;
    padding: 100px 0px;
    left: -400px;
    top: 200px;
    text-align: left;
}

button {
    display: flex;
    position: relative;
    left: -890px;
    top: 380px;
}

.containerLandingPage .imageOne {
    position: relative;
    top: -200px;
    left: -100px;
    justify-content: end;
}

.containerLandingPage .talent-container {
    width: 100%;
}

.containerLandingPage .imageTwo {
    display: flex;
    position: relative;
    margin-top: -200px;
    left: -650px;
}

.containerLandingPage .titleTwo {
    display: flex;
    position: relative;
    width: 515px;
    height: 112px;
    top: -150px;
    left: 750px;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 56px;
    color: #1F2A36;
}

.containerLandingPage .titleTwo h1 {
    text-align: left;
}


.containerLandingPage .descTwo {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    left: 280px;
    top: -50px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #46505C;
    text-wrap: nowrap;
}

.containerLandingPage .descTwo p {
    margin-top: 20px;
}


.containerLandingPage .iconOne {
    width: 20px;
    position: relative;
    left: 40px;
    top: -50px;
}

.containerLandingPage .iconOne img {
    margin-top: 27px;
}

.containerLandingPage .skill-container {
    display: flex;
    padding: 20px 20px;
    position: absolute;
}

.containerLandingPage .titleThree {
    display: flex;
    position: relative;
    left: 230px;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 56px;
    color: #1F2A36;
    text-wrap: nowrap;
}

.containerLandingPage .descThree p {
    display: flex;
    position: relative;
    width: 488px;
    height: 56px;
    left: 40px;
    top: 70px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #46505C;
    text-align: left;
}

.containerLandingPage .skill {
    position: relative;
    left: -420px;
    top: 150px;
}

.containerLandingPage .skill2 {
    position: relative;
    left: -700px;
    top: 150px;
}

.containerLandingPage .skill p,
.skill2 p {
    width: 488px;
    height: 56px;
    position: relative;
    text-align: left;
}

.containerLandingPage .icon {
    width: 20px;
    position: relative;
    left: -30px;
    top: -255px;
}

.containerLandingPage .icon img {
    margin-top: 35px;
}

.containerLandingPage .icon2 {
    width: 20px;
    position: relative;
    left: -730px;
    top: -105px;
}

.containerLandingPage .icon2 img {
    margin-top: 35px;
}

.containerLandingPage .imageThree img {
    position: relative;
    left: -400px;
    top: -450px;
}


.containerLandingPage .about-container {
    background-color: #FAFBFC;
    width: 120%;
    height: 600px;
    margin-top: 470px;
    overflow: hidden;
}

.containerLandingPage .about-container .title h1 {
    width: 100%;
    height: 56px;
    font-family: 'Open Sans', sans-serif;
    /* font-weight: 600px; */
    font-size: 36px;
    line-height: 56px;
    color: #1F2A36;
    padding: 40px 275px 0px 0px;
    /* position: relative; */
    /* left: 450px; */
}

.cardOne,
.cardTwo,
.cardThree {
    margin-left: 50px;
    margin-top: -20px;
}

.containerLandingPage .rectangle {
    background-color: #ffffff;
    width: 120%;
    height: 400px;
    margin-top: 20px;
    /* overflow: hidden; */
}

.containerLandingPage .title-purple {
    display: flex;
    position: relative;
    top: -280px;
    left: 200px;
}

.containerLandingPage .title-purple h1{
    width: 293px;
    height: 112px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 56px;
    color: #ffffff;
    text-align: left;
}

.containerLandingPage .buttonWhite {
    display: flex;
    position: relative;
    left: 1000px;
    top: -220px;
    z-index: 1;
    cursor: pointer;
}

.containerLandingPage .starting-button {
    z-index: 1;
    cursor: pointer;
}


/* @media (max-width: 576px) { 
    body {
        width: 100%;
        display: flex;
    }
    
    .containerLandingPage {
        width: 100%;
    }
    .containerLandingPage .titleOne{
        width: 100%;
        position: absolute;
        margin-left: -80px;
        font-size: 22px;
        text-wrap: balance;
    }
    .containerLandingPage .descriptionOne {
    position: relative;
    left: 20px;
    top: 40px;
    width: 250px;
    }

    .containerLandingPage .imageOne {
       position: relative;
       left: -1250px;
       top: 100px;
    }

    .containerLandingPage .imageOne img{
        width: 20%;
    }

    .containerLandingPage button {
        position: relative;
        left: -230px;
        top: 260px;
    }
    
    .containerLandingPage .imageTwo {
        position: relative;
        left: -700px;
        top: 0px;
    }

    .containerLandingPage .imageTwo img{
        display: none;
        }

    .containerLandingPage .talent-container{
        position: relative;
        left: 0px;
        top:  60px;
    }

    .containerLandingPage .talent-container h1{
        width: 50%;
        font-size: 18px;
        position: relative;
        left: -730px;
        top: -30px;
    }

    .containerLandingPage .descTwo {
        position: relative;
        left: -450px;
        top: -100px;
    }

    .containerLandingPage .iconOne {
        position: relative;
        left: -680px;
        top: -100px;
    }
    
    .containerLandingPage .skill-container {
        position: relative;
        left: -200px;
        top: 280px;
    }

    .containerLandingPage .skill-container .imageThree{
        width: 50%;
        position: relative;
        left: -200px;
        top: 100px;
    }

    .containerLandingPage .skill-container .imageThree img{
        display: none;
    }

    .containerLandingPage .skill-container{
        display: none;
    }   
    
    .containerLandingPage .about-container {
        display: none;
    }

    .title-purple h1 {
        display: none;
    }

    .rectangle {
        display: none;
    }
    
    } */


@media (max-width: 992px) { 
    body {
        width: 100%;
        display: flex;
    }
    
    .containerLandingPage {
        width: 100%;
    }
    .containerLandingPage .titleOne{
        width: 100%;
        position: absolute;
        margin-left: -80px;
        font-size: 30px;
    }
    .containerLandingPage .descriptionOne {
    position: relative;
    left: 10px;
    top: 100px;
    }
    .containerLandingPage button {
        position: relative;
        left: -480px;
        top: 280px;
    }
    .containerLandingPage .imageOne {
        display: none;
    }
    
    .containerLandingPage .imageTwo {
        display: none;
    }

    .containerLandingPage .talent-container {
        position: relative;
        left: -720px;
        padding-top: 300px;
    }

    .containerLandingPage .talent-container h1{
        width: 400px;
        font-size: 30px;
    }
    
    .containerLandingPage .skill-container {
        position: relative;
        left: -230px;
        top: -50px;
    }

    .containerLandingPage .skill-container .imageThree{
        display: none;
    }
/* 
    .containerLandingPage .skill-container h1{
        font-size: 40px;
    } */
    
    .about-container {
        display: none;
    }
    
    .title-purple h1 {
        display: none;
    }

    .rectangle {
        display: none;
    }
    
    }