.landingheader-container {
    display: flex;
    width: 100%;
}

.landingheader-container .logo-landing {
    display: flex;
    padding: 20px;
}

.landingheader-container .button-landing {
    display: flex;
    position: absolute;
    padding: 50px 1220px;
}


@media screen and (max-width: 576px) {
   .landingheader-container {
    width: 100%;
    display: flex;
   }

   .landingheader-container .button-landing {
    width: 100%;
    padding: 50px 0px 0px 0px;
    position: absolute;
    margin-left: 100px;
   }
}

/* @media screen and (min-width: 768px) {
    .landingheader-container {
        width: 100%;
        display: flex;
       }
       .landingheader-container .button-landing {
        width: 100%;
        padding: 50px 0px 0px 0px;
        margin-left: 10px;
       }
} */


/* @media screen and (min-width: 992px) {
    .landingheader-container {
        width: 1450px;
        display: flex;
       }
       
       .landingheader-container .logo-landing img{
        width: 100%;
        height: 40px;
        padding: 0px 0px 0px 100px;
       }
    
       .landingheader-container .button-landing {
        width: 100%;
        padding: 50px 1300px;
       }
} */