.footer-container {
    width: 100%;
    float: left;
    flex: 1;
}

.footer-container .main-footer {
    background-color: #5E50A1;
    width: 100%;
    height: 350px;
}

.footer-container .main-footer .sub-content {
    width: 100%;
}

.footer-container .main-footer .sub-content .logo img {
    padding: 50px 10px 10px 120px;
}

.footer-container .main-footer .sub-content .text-footer {
    padding: 20px 0px 50px 120px;
}

.footer-container .main-footer .sub-content .text-footer p {
    display: flex;
    width: 50%;
    height: 84px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: left;

}

.footer-container .main-footer .sub-content .line {
    width: 80%;
    margin: 0px 120px;
}

.footer-container .main-footer .sub-content .copyright-container {
    width: 100%;
}

.footer-container .main-footer .sub-content .copyright p {
    text-wrap: nowrap;
    padding: 10px 0px 0px 120px;
}


.footer-container .main-footer .sub-content .number p {
    padding: 0px 0px 0px 950px;
}


.footer-container .main-footer .sub-content .email p {
    padding: 0px 0px 0px 1120px;
}
